transformers
transformers[sentencepiece]        # 'SentencePiece' is a text tokenizer and detokenizer
datasets                           # library from Hugging Face, used to easily load and preprocess datasets
sacrebleu                          # A standard BLEU score library for evaluating machine translation models.
rouge_score                        # used to evaluate the quality of summaries.
py7zr                              # A library for handling 7z archive files.
pandas
nltk
tqdm
PyYAML
matplotlib
torch
notebook
boto3                             # The Amazon Web Services (AWS) SDK for Python, allowing Python developers to write software that makes use of services like Amazon S3 and Amazon EC2
mypy-boto3-s3                     # Type annotations for boto3 S3 client, allowing for type checking with mypy.
python-box==6.0.2
ensure==1.0.2
fastapi==0.78.0
uvicorn==0.18.3
Jinja2==3.1.2
-e .                              # This is used to install a package in "editable" mode

# The . refers to the current directory, implying that the project itself (including its setup.py) should be installed. 
# This is useful for development because changes to the code are immediately reflected without needing to reinstall the package.